.tabb
{
  background-color: #000000f5;
  height: 84vh;
  padding: 20px;
  color: white;
  font-weight: 500;
}

[data-rb-event-key="home"] {
  background-color: red;
  text-align: right;
}


.fade {
    transition: none !important;
}