html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

body {
  margin: 0;
  color: white;
  /* font-size: 15px; */
  font-family: "Made Outer Sans";
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: black;
  font-feature-settings: 'tnum';
}
/* Sayfa 500px üstüne çıkınca çalışacak kod */
@media only screen and (min-height: 500px) {
    .navbar{
        height: 118px;
        transition: all 2s;
    }
}


/* Sayfa 500px altına inince çalışacak kod */
@media only screen and (max-height: 500px) {
    .navbar{
        height: 60px;
        transition: all 2s;
    }
    
}

/* 770px küçük genişlikte */
@media only screen and (max-width: 770px) {
    .foother{
        height: 1250px !important;
        transition: all 2s;
    }
    .footer-navbar div{
        text-align: center !important;
        margin-bottom: 20px;
    }
    .nnav{
        background-color: black !important;
        width:100%;
        text-align: center;
        z-index: 10;
    }
    .tus{
        float: right;
        display: inline;
        cursor: pointer;
    }
    .nav-title{
        flex-grow: 1;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .banner-content p{
        width: 100% !important;
        text-align: center;
    }
    .banner-content h1{
        text-align: center;
        width: 100% !important;
    }
    .hamburgertext{
        display: none;
    }
}

@media only screen and (min-width: 770px) {
    .tus{
        float: right;
        display: none;
        cursor: pointer;
        width: auto;
    }
    .nnav{
        display:contents;
        z-index: 10;
        transition: all 1s;
        
    }
    .nav-title{
        flex-grow: 0;
        width: 30% !important;
    }
    
}
/* 500px küçük genişlikte */
@media only screen and (max-width: 500px) {
    .hamburgerlink{
        width: 100% !important;
        transition: all 2s;
    }
    .sociallinks{
        width: 100% !important;
        transition: all 2s;
    }
    .hamburgermenuinfo{
        width: 100% !important;
        transition: all 2s;
    }
}



/* sayfa içeriği tasarımı */
.banner-home{
    width: 100%;
    background-color: black;
}

.banner-content{
    color: white;
    height: 500px;
    display: block;

}

.banner-content p{
    color: white;
    width: 500px;

}

.banner-content h1{
    color: white;
    width: 37.5%;
    font-size: 50px;
    padding-top: 50px;

    /* position: absolute; */

}

/* Anasayfadaki sağ alt kısımdaki linkler */
.chat{
    border: #7a7a7a solid 1px;
    border-radius: 50%;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chat svg {
    color: #7a7a7a;

}

.chat:hover{
    cursor: pointer;
    
}

.sociallink-home{
    position: fixed;
    bottom: 0px;
    right: 80px;
    border: none;
}

.sociallink-home svg{
    margin-right: 10px;
}

/* ********************** */

.page-transfer{
    color: white;
    font-size: 50px;
    text-decoration: none;
    display: block;
    
}