/* tailwind library */
@tailwind base;
@tailwind components;
@tailwind utilities;



.star{
    background-image: url('star.png');
}

/* yıldız animasyonu */
@keyframes star-fall {
    0% {
      transform: translateX(-100%);
      left: calc(100vw * random());

    }
    100% {
      transform: translateX(200vh);
      left: calc(100vw * random());
    }
  }


/* anasayfadaki chatbox için */
.chatbox{
  position: fixed;
  bottom: 20px;
  right: 100px;
  color: rgba(255, 255, 255, 0.705);
  background: #3b3b3b;
  border-radius: 5px;
  width: 388px;
  height: 70%;
  padding: 20px;
  text-align: center;
  transition: all 3s;

}

.chatinput{
  background: #3b3b3b;
  border: white 1px solid;
  border-radius: 4px;
  outline: none;
  padding: 3px;
  padding-left: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.chatbutton:hover{
  background-color: rgb(27, 25, 25);
  border-color: white;
  transition: all 1s;

}
